#root {
  background-color: rgb(17, 17, 18);
}

.center {
  text-align: center;
}

.app {
  background-color: rgb(17, 17, 18);
  padding-top: 70px;
  padding-bottom: 70px;
}

label {
  color: white;
}

.questiontitle {
  color: white;
}

.poll {
  border-style: solid;
}

.three-box {
  color: white;
  text-align: center;
  padding-top: 50px;
}

.count {
  font-weight: bold;
}

.pic {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.bio {
  color: white;
  margin: 30px;
}

.footer-icon {
  height: 40px;
  width: 40px;
}