/* index.html */
#root {
  background-color: rgb(17, 17, 18);
}

/* App.jsx */
.home {
  background-color: rgb(17, 17, 18);
  padding-top: 20px;
  padding-bottom: 70px;
}

/* Navbar ------------------------------------------------------------------ */
/* .topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
} */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
/* .topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
} */

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: black;
  color: white;
}

/* ----------------------------------------------------------------------- */

/* Five Icon Buttons */

.icon {
  height: 25px;
  width: 25px;
}

.buttons {
  padding-bottom: 25px;
  padding-left: 40px;
}

/* Pic and Three Boxes */
.pic {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.three-box {
  color: white;
  text-align: center;
  padding-top: 50px;
}

.count {
  font-weight: bold;
}

/* Bio */
.bio {
  color: white;
  margin: 30px;
}

/* QuestionForm.jsx */
label {
  color: white;
}

.create-poll-btn {
  text-align: center;
}

/* Poll */

.poll {
  border-style: solid;
}

button {
  background-color:rgb(28, 29, 31);
  color: white;
}

/* Result.jsx */
.text {
  color: white;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  background-color: rgb(40, 40, 40);
}

.result-title{
  font-weight: bold;
}